body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    justify-content: space-between;
    padding: 15px;
}

.left-header, .right-header {
    display: flex;
    gap: 15px; 
}

.left-header {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.right-header, .header-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

ul {
    list-style-type: none;
}

.first {
    display: flex;
    gap: 30px;
    background-color: #1f2937;
    padding: 20px;
    justify-content: space-around;
}

.big-image {
    max-height: 100%;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.sign-up {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 5px;
    padding-left: 3%;
    padding-right: 3%;
    font-weight: bold;
    /* rounds the corners of the button 
    used https://www.w3schools.com/howto/howto_css_round_buttons.asp for reference */
    border-radius: 8px; 
}


/* 

to-do's

x header
    x header logo (text) and styling
    x header links styling
    x background styling
    x add actual header link content

o make the big image flex, not hard coded
o fix the button 
    x make it blue
    x change text color
    o fix the padding so there is no space under the header and the subtext

o 2nd section
    o some random info styling
    o images styling
    o subtext styling
    o background color
o 3rd section
    o background color
    o quote text styling - centered
    o author styling
o 4th section
    o margin and background (aka make it look more contained)
    o call to action text styling
    o subtext styling
    o button and styling
o footer 
    o colors/styling
    o centered
*/